<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Listado tailwind</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="flex justify-center items-center h-screen bg-gray-500  ">
    <div class="contenedor bg-white w-6/12 h-5/6 p-4 mt-5 shadow bg-body min-h-96 rounded bg-secondary-subtle min-w-96">
        <div class= "menu justify-center items-center text-center bg-gray-100 ">
            <a href="/Ejercicio Tecnico 1/JulianAlconcher-1-html-css/listado/tailwindcss/listadoTailwind.html" > Ir al listado</a>
            <a href="/Ejercicio Tecnico 1/JulianAlconcher-1-html-css/formulario/tailwindcss/formularioTailwind.html" >Ir al formulario</a>
        </div>
        <h1 class="title text-3xl	 font-bold text-center mt-3 ft-bold ">Listado</h1>
        <h2 class="sub-title font-bold text-center mt-2">Mi Top 5 Canciones</h2>
        <ul id="canciones-list" class="text-center mt-5 space-y-9 text-lg font-bold m-0">
            <% obj.slice(0, 5).forEach(function(cancion) { %>
              <li class="border-b border-solid border-gray-200">
                <%= cancion.song_name %> - <%= cancion.artist_name %> 
                <h4 class="font-light">Album: <%= cancion.album_name %> - Año: <%= cancion.release_date.slice(0, 4) %></h4>
              </li>
            <% }); %>
        </ul>    
</body>
</html>